body{
  margin: 0;
}

.contents{
  margin-top: 60px;
  padding: 3vw;
}

.shadow{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-color: #888888;
  visibility: hidden;
  z-index: 1000;
  &.active{
    visibility: visible;
  }
}