header{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 7px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.26);
  display: table !important;
  z-index: 999;

  .left{
    width: 10%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 3vw;

    i{
      font-size: 30px;
      color: #3C3C3C;
    }
  }
  .center{
    width: 80%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Monoton', cursive;
    font-size: 40px;
    text-align: center;
  }
  .right{
    width: 10%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }


}



