header{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 7px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.26);
}

#left_header{
  width: 30px;
  height: 30px;
  float: left;
  padding: 15px;
}

#header-icon{

}